<ion-view title="Detail View" cache-view="false">
  <ion-header-bar class="bar-stable bar-positive">
    <a class="button icon-left ion-chevron-left button-clear pull-left button-light" href="#/">Back</a>
    <h1 class="title">{{contacts.selectedContact.fullName}}</h1>
  </ion-header-bar>

  <ion-content class="padding">

    <div id="profile-image">
      <img src={{contacts.selectedContact.imageURL}}>
    </div>

    <div ng-controller="imageController as imageController" class="text-center">
      <a class="button button-calm add-photo-button icon-left ion-camera"  ng-click="imageController.show()">Add Photo</a>
    </div>

    <div class="row">
      <div class="col col-90 col-offset-10">
        <h3>Interests</h3>
        <ul>
          <li ng-repeat="interest in contacts.selectedContact.interests">- {{interest}}</li>
        </ul>
      </div>

    </div>


  </ion-content>
</ion-view>
