<ion-view title="Detail View" cache-view="false">
  <ion-header-bar class="bar-stable">
    <a class="button pull-left" href="#/">Back</a>
    <h1 class="title">{{contacts.get.fullName}}</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <img src={{contacts.get.imageURL}} id="profile-image">
    <h3>Interests</h3>
    <ul>
      <li ng-repeat="interest in contacts.get.interests">{{interest}}</li>
    </ul>
    <div ng-controller="imageController as imageController">
      <a class="button"  ng-click="imageController.show()">Add Photo</a>
    </div>
  </ion-content>
</ion-view>
