/* Empty. Add your own CSS if you like */

#profile-image {
  overflow:hidden;
  height:200px;
  width:200px;
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.list-item {
  text-decoration: none;
}

.add-photo-button {
  margin: auto;
  margin-top: 10px;
}
